* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}
header .headercontent {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .leftside {
  display: flex;
  align-items: center;
}
header .leftside ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header .leftside .imagecontainer {
  height: 50px;
  width: fit-content;
}
header .leftside .imagecontainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .leftside ul {
  margin-left: 20px;
}
header .leftside ul li {
}
header .leftside ul li a {
  padding-left: 15px;
  list-style: none;
  text-decoration: none;
  color: black;
}

header .rightside {
  display: flex;
  align-items: center;
}

header .rightside ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header .rightside ul .signups {
  background: #ff7800;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 0 10px;
}

header .rightside ul .logins {
  background: #f3f4f5;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: black;
}

.Intro {
  height: 60%;
  background-color: #fe7314;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;

}
.Intro h1 {
  color:#FFFEFF;
  font-size: 55px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding-top: 400px:

}
.Intro h4{
  font-size: 20px;
  font-weight: 300;
  color:#FFFEFF;
  padding: 20px;
}

.Intro .Searchspace {
  display: flex;
  align-items: center;
  height: 70px;
  width: 50%;
  padding: 10px 10px;
  background: white;
  border-radius: 10px;
}
.Intro .Searchspace .vectorss{
  background: white;
  border-color: #CFD3D6;
  padding: 15px 25px;
  border-radius: 10px;
  border: 0.5px solid;
}

.Intro .Searchspace .inputt{
  background: blue;
  height: 30px;
  width:150%;
}
.Intro .Searchspace .inputt input{
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 15px;
}
.Intro .Searchspace .sear{
  width: 50px;
  height: 40px;

}
.Intro .Searchspace .sear img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}
.Intro .trends {
  padding-top: 20px;
  display: flex;
}
.Intro .trends ul {
  display: flex;
}
.Intro .trends ul li {
  list-style: none;
}
.Intro .trends h3 {
  font-size: 18px;
  font-weight: 200;
  color: white;

}

.Intro .trends ul li a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}
.Rfree{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.Rfree h2{
  padding-top: 60px;
  font-size: 45px;

}
.Rfree .Rfimages{
  margin-top: 40px;
}


.Rfree .Rfimages .Gallery {
  display: flex;
  flex: 1;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: 200px;

}
.Rfree .Rfimages .Gallery img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Rfree .Rfimages .li{
  list-style-type: none;

}

.Timages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.Timages h2{
  padding-top: 60px;
  font-size: 45px;

}
.Timages .Timagestw{
  margin-top: 40px;
}
.Timages .Timagestw .Gallery {
  display: flex;
  flex: 1;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: 200px;

}

.Timages .Timagestw .Gallery img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.Wvecteezy{
  height:500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

.Wvecteezy .conten{
  display: flex;
  padding: 0px 70px;
}

.Wvecteezy .conten h3{
  text-align: center;
  padding: 20px 0px;
}

.Wvecteezy .conten p{
  width: 250px;
  text-align: center;
}

.Provecteezy{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.Provecteezy .callcen{
  height: 550px;
  width:850px;
  background-color: blue;
  border-radius: 30px;

}
.Provecteezy .callcen img{
  height: 100%;
  width: 100%;
  object-fit: fit;
  border-radius: 20px;
}
.Provecteezy .Protext{
  padding-right: 100px;
}
.Provecteezy .Protext h2{
  font-size: 45px;
  width:500px;
  padding-bottom: 20px;
  line-height: 50px;
}
.Provecteezy .Protext li{
  margin-left:20px;
  color: #6D7B84;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 20px;
}

.Provecteezy .Protext button{
  padding: 25px 30px;
  background: linear-gradient(to right,#FE7508,#FC0BE2);
  border:none;
  border-radius: 10px;
  color: white;

}

.Trust{
  margin: 30px 0px;
  height:250px;
  background-color: #F7F9FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Trust .brands{
  padding-top: 50px;

}

.Trust .brands img{
  padding: 70px;
}
.signup{
  background-image: url("images/sign-up-free-min-14236866d9a7d867785f3325c3339cec.jpg");
  background-size: cover;
  height: 460px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 150px;

}

.signup .lowersignup{
  width: 150px;
  background:white ;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  color: #ff7800;
  margin-bottom: 30px;
  font-size: 17px;
}

.signup h2{
  padding-bottom: 30px;
  color: white;
  font-size: 50px;

}

.signup p{
  padding-bottom: 30px;
  width: 480px;
  color: white;
  font-size: 20px;
}



footer{
  width:100%;
  /* padding: 10px 50px; */
  height:400px;
  background-color: #0E2232;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;


}
footer .linkss{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding-left: 20%;
  padding-right:20%;

}

footer .botom{
  display: flex;
  justify-content:center;
  align-items:center;

}
