* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: white;
}

.header {
    margin-top: 1%;
    height: 10%;
    margin-bottom: 2%;

}

.header h3 {
    font-weight: bold;
    text-align: center;
}

.header p {
    font-size: 0.8rem;
    text-align: center;
}

.Nametag {
    height: 10%;


}

.Nametag h1 {
   
}


.Nametag h5 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20%;
}

.Image_section {
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 2%;

}

.Image_section .txtbox {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Image_section .txtbox h1{
    color: #000;
}

.Image_section .imagebox {
    width: 30%;
    height: 100%;

}

.Image_section .imagebox img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.Image_selection .txtbox h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.Bio {
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.Bio h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: start;
}
.Bio p{
    font-size: 1.2rem;
    
}